.hero{
    background-image: url('Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    height: 500px;
    
}
.overlay-h1{
    font-size: 3vw; /* Responsive font size */
    text-align: left;
    padding-left: 100px;
    padding-top: 250px;
    padding-bottom: 100px;
    margin: 0;
    
}

.navbar{
    background-color: rgba(0, 0, 0, 0.345);    
}
.navbar-brand{
    padding-left: 50px;
}
.navbar-nav .nav-item .nav-link{
    color: white;
}
.navbar-nav .nav-link:hover{
    opacity: 0.78;
    transition: 0.30s;
}
.nav-item {
    padding: 10px;
}
.navbutton{
    background-color: rgb(131, 32, 32);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(131, 32, 32); 
    /* padding: 10px; */
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 70px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.navbutton:hover {
    background-color: #962222; 
    color: #ffffff; 
   
    } 
    .overlay-h1{
        font-weight: bold;
    }
@media (max-width: 768px) { 
.overlay-h1 {
font-size: 8vw;
max-width: 30ch; 
}
.navbutton{
margin-right: auto;
}
}
.section2{
    height: 250px;
    background-color:rgb(116, 64, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.section2 h1, h5{
    color: white;
    display: inline;
    width: 50%;

}
.section2 h5{
    font-size: 17px;
    font-weight: 300;
}
.listrow{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 150px;
    border-style: solid;
    border-color: brown;
    padding-bottom: 10px;
    border-top: 9px;
    border-left: 9px;
    border-right: 9px;
}
.items{
    display: inline;
    font-size: 19px;
    text-align: center;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
}
.listrow a{
    text-decoration: none;
    color: black;
    text-align: center;
    
}
.listrow a:hover{
    opacity: 0.77;
}
.listrow a:active{
    opacity: 1;
}
   
.section3{
    height:450px;
    margin:100px;
    margin-bottom: 80px;
    
}
/* .line{
    margin-top: 30px;
    color: black;
    font-weight: bold;
    opacity: 1;
} */
 .section4{
    display: flex;
    justify-content: space-between;

 }
 .section4 h5{
    color: black;
    font-size: 17px;
    font-weight: 400;
    
 }
 .section4 h1{
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .content{
    width: 50%;
    margin-top: 40px;

}
.content p{
    font-weight: bold;
    
}
.image{
    margin-top:45px;
}
/* footer */
/* News Letter */
.news_letter{
    background-color: rgb(247, 226, 199);
    padding: 100px;
   display: flex;
   flex-direction: row;
   gap: 150px;
}

.input-container {
    position: relative;
    display: flex;
    width: 400px; 
}

.input-container input {
    width: 100%;
    padding: 10px 80px 10px 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.input-container button {
    border: none;
    background-color:#972929; 
    color: white;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.input-container button:hover {
    background-color:  #bc2626; 
}


.news_content_2{
    padding-top: 30px;
}
@media (max-width: 768px) {
    .news_letter{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
        padding: 20px;
    }
    .input-container{
        padding: 20px;
    }
}

    /* footer */
.footer{
    background-color: rgb(85, 2, 2);
    color: rgb(207, 206, 206);
    padding-top: 50px;
}
.Footer_div{
   display: flex;
   justify-content:space-around;
   flex-wrap:wrap ;

}
.sec_1{
    font-size: .8rem;
}

.sec_2{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.sec_3{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;
}
@media(max-width:480px) {
    .footer{
        padding: 5px;   
    }  
}